.container {
  /* position: relative; */
  padding-top: 10rem;
  font-family: "Poppins", sans-serif;
}

.search-input,
.sort-select {
  margin: 0;
}


.lang-box {
  margin: auto;
  width: fit-content;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  /* margin-top: 8%; */
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 60px 40px -50px rgba(0, 0, 0, 0.27);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin-bottom: 6rem;
  width: 83vw;
  overflow: hidden;
}

.box-name {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-desc {
  padding: 2rem;
  border-left: 1px solid #333;
}

.box-attributes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.attribute-icon {
  height: 2rem;
  margin-right: 0.6rem;
}

.attribute1 {
  /* width: 90%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.name {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.nodata {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nodata-img {
  max-width: 100%;
  height: auto;
  width: 400px;
}

@media (max-width: 57em) {
  .nodata-img {
    width: 300px;
  }
}

@media (max-width: 48em) {
  .nodata-img {
    width: 250px;
  }
}

/* Skeleton Loader Styles */
.skeleton-card {
  opacity: 0.9;
  animation: pulse 2s ease-in-out infinite;
}

.skeleton-card:nth-child(odd) {
  animation-delay: 0s;
}

.skeleton-card:nth-child(even) {
  animation-delay: 0.2s;
}

.skeleton-box-name {
  background-color: #e0e0e0 !important;
}

.skeleton-lang-name {
  height: 1.5rem;
  width: 8rem;
  margin-right: 0.5rem;
  border-radius: 4px;
}

.skeleton-percentage {
  height: 1.2rem;
  width: 3rem;
  border-radius: 4px;
}

.skeleton-lang-type {
  height: 1rem;
  width: 6rem;
  margin-top: 0.5rem;
  border-radius: 4px;
}

.skeleton-attr-text {
  height: 1rem;
  width: 10rem;
  border-radius: 4px;
}

.skeleton-desc-line {
  height: 1rem;
  width: 100%;
  margin-bottom: 0.6rem;
  border-radius: 4px;
}

.skeleton-desc-line-short {
  height: 1rem;
  width: 60%;
  margin-bottom: 0;
  border-radius: 4px;
}



/********************************/
/* BELOW 1168 px */
/********************************/

@media (max-width: 73em) {
  .name {
    font-size: 0.8rem;
  }

  .name-type {
    font-size: 0.9rem;
    margin-top: -0.4rem;
  }

  .name-main {
    font-size: 1.2rem;
  }

  .attribute1,
  .box-desc {
    font-size: 0.8rem;
  }

  .attribute1 svg {
    height: 1.4rem;
  }

  .attribute1:last-child {
    margin-top: -0.4rem;
  }

  .skeleton-lang-name {
    height: 1.2rem;
    width: 6rem;
  }

  .skeleton-percentage {
    height: 1rem;
    width: 2.5rem;
  }

  .skeleton-lang-type {
    height: 0.9rem;
    width: 5rem;
  }

  .skeleton-attr-text {
    height: 0.8rem;
    width: 8rem;
  }

  .skeleton-desc-line {
    height: 0.8rem;
  }
}

/********************************/
/* BELOW 912 px */
/********************************/

@media (max-width: 57em) {
  .container {
    padding: 1rem;
  }

  .language-list {
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    margin: auto;
    gap: 4rem;
  }

  .lang-box {
    margin-top: 0;
    margin-bottom: 0rem;
    height: fit-content;
    grid-template-columns: 1fr;
    width: 20rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .box-name {
    height: 10rem;
    top: 0;
  }

  .box-attributes {
    width: 100%;
  }

  .box-desc {
    border: none;
    border-top: 1px solid #333;
  }

  .skeleton-lang-name {
    height: 1.2rem;
    width: 5rem;
  }

  .skeleton-percentage {
    height: 1rem;
    width: 2rem;
  }

  .skeleton-lang-type {
    height: 0.9rem;
    width: 4rem;
  }

  .skeleton-attr-text {
    height: 0.8rem;
    width: 7rem;
  }

  .skeleton-desc-line {
    height: 0.8rem;
  }

  .skeleton-icon {
    width: 1.4rem;
    height: 1.4rem;
  }
}

/********************************/
/* BELOW 768 px */
/********************************/

@media (max-width: 48em) {
  .language-list {
    grid-template-columns: 1fr;
  }

  .box-desc {
    padding: 1.2rem;
  }

  .skeleton-lang-name {
    height: 1rem;
    width: 4rem;
  }

  .skeleton-percentage {
    height: 0.9rem;
    width: 1.8rem;
  }

  .skeleton-lang-type {
    height: 0.8rem;
    width: 3.5rem;
  }

  .skeleton-attr-text {
    height: 0.7rem;
    width: 6rem;
  }

  .skeleton-desc-line {
    height: 0.7rem;
  }

  .skeleton-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

/********************************/
/* BELOW 368 px */
/********************************/

@media (max-width: 23em) {
  .lang-box {
    width: 17.5rem;
  }


}